
.content-container{
    width: 80%;
}
.add-exercise-container{
    display: flex;
    justify-content: flex-end;
    padding: 10px 0 10px 10px;
}
.exercise-table{
    width: 100%;
    height: 600px;
    background-color: var(--clr-surface-a20);
    border-radius: 15px;
    border-collapse: collapse;
    overflow: hidden;
}


td > h4{
    margin: 0;
    padding: 10px;
    opacity: 60%;
}

tbody td{
    margin: 0;
    padding: 10px;
    font-family: "Montserrat", sans-serif;
    color: var(--clr-light-a0);
    font-weight: bold;
}

.exercise-table-header{
    background-color: var(--clr-surface-a10);
}
.exercise-table-body{
    overflow-y: scroll;
}
.exercise-table tbody tr:nth-child(even) {
    background-color: var(--clr-surface-a30);
}

tbody tr{
    cursor: pointer;
}

.exercise-table tbody tr:hover{
    background-color: var(--clr-surface-a40);
}
